:root {
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: #f7f9f9;
}

/* width */
body::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #dce9e2;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #00856f;

  border-radius: 1rem;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #00453a;
}

.flex {
  display: flex;
}

.flex-w-50 {
  display: flex;
  width: 50%;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.bg-primary {
  background-color: #dce9e2;
}

.bg-primary-light {
  background-color: #f7f9f9;
}

.bg-brand-beige {
  background-color: #fffaf1;
}

.color-primary {
  color: #dce9e2;
}

.color-primary-light {
  color: #f7f9f9;
}

.color-brand-beige {
  color: #fffaf1;
}

.color-action {
  color: #00856f;
}

.color-action-hover {
  color: #00453a;
}
.color-text {
  color: #061800;
}
.color-text-gray {
  color: #384633;
}
.color-text-gray-light {
  color: #3e3e3e;
}
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}

.self-center {
  align-self: center;
}

.padding-md-t {
  padding: 1rem;
}

.padding-md-v {
  padding: 1rem 0;
}

.padding-md-h {
  padding: 1rem 0;
}

.margin-md-v {
  margin: 1rem 0;
}

.margin-sm-h {
  margin: 0rem 0.5rem;
}
